<h2>Register</h2>
<h3>
  <i>Please enter your data</i>
</h3>

<form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">

  <fieldset>
    <div class="form-group">
      <label class="center-block">Username:
        <input class="form-control is-invalid" type="text" [ngClass]="{
            'is-valid': username.valid && (username.dirty || username.touched),
            'is-invalid': username.invalid && (username.dirty || username.touched)
          }" formControlName="username">
        <div class="invalid-feedback">
          <p>Username is required</p>
        </div>
      </label>
    </div>

    <div class="form-group has-danger">
      <label class="center-block">Password:
        <input class="form-control is-invalid" type="password" [ngClass]="{
            'is-valid': password.valid && (password.dirty || password.touched),
            'is-invalid': password.invalid && (password.dirty || password.touched)
          }" formControlName="password">
        <div class="invalid-feedback">
          <p>Password is required</p>
        </div>
      </label>
    </div>

    <div class="form-group has-danger">
      <label class="center-block">First Name:
        <input class="form-control is-invalid" type="text" [ngClass]="{
            'is-valid': firstName.valid && (firstName.dirty || firstName.touched),
            'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched)
          }" formControlName="firstName">
        <div class="invalid-feedback">
          <p>First Name is required</p>
        </div>
      </label>
    </div>

    <div class="form-group has-danger">
      <label class="center-block">Last Name:
        <input class="form-control is-invalid" type="text" [ngClass]="{
              'is-valid': lastName.valid && (lastName.dirty || lastName.touched),
              'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched)
            }" formControlName="lastName">
        <div class="invalid-feedback">
          <p>Last Name is required</p>
        </div>
      </label>
    </div>

    <div class="form-group has-danger">
      <label class="center-block">Email:
        <input class="form-control is-invalid" type="email" [ngClass]="{
                'is-valid': email.valid && (email.dirty || email.touched),
                'is-invalid': email.invalid && (email.dirty || email.touched)
              }" formControlName="email">
        <div class="invalid-feedback">
          <p>Email is required</p>
        </div>
      </label>
    </div>


    <div class="form-group has-danger">
      <label class="center-block">Telephone Number:
        <input class="form-control is-invalid" type="tel" [ngClass]="{
                'is-valid': telephoneNumber.valid && (telephoneNumber.dirty || telephoneNumber.touched),
                'is-invalid': telephoneNumber.invalid && (telephoneNumber.dirty || telephoneNumber.touched)
              }" formControlName="telephoneNumber">
        <div class="invalid-feedback">
          <p>Telephone number is required</p>
        </div>
      </label>
    </div>

    <div class="form-group has-danger">
      <label class="center-block">Address:
        <input class="form-control is-invalid" type="text" [ngClass]="{
                'is-valid': address.valid && (address.dirty || address.touched),
                'is-invalid': address.invalid && (address.dirty || address.touched)
              }" formControlName="address">
        <div class="invalid-feedback">
          <p>Address is required</p>
        </div>
      </label>
    </div>

  </fieldset>

  <button type="submit" class="btn btn-primary">Register</button>

</form>