<h2>
  {{title}}
</h2>

<div>
  Welcome to WMS!
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a routerLink="/manage/products" routerLinkActive="active" appVisibleFor="admin">
        <p-card title="Manage Products" subtitle="" [style]="{width: '360px', height: '360px'}" styleClass="ui-card-shadow">

          <p-header>
            <img src="Card" src="assets/images/products.jpg">
          </p-header>

          <div>
            View, add, edit and delete products.
          </div>

        </p-card>
      </a>
    </div>

    <div class="col-md-4">
      <a routerLink="/manage/users" routerLinkActive="active" appVisibleFor="admin">
        <p-card title="Manage Users" subtitle="" [style]="{width: '360px', height: '360px'}" styleClass="ui-card-shadow">

          <p-header>
            <img src="Card" src="assets/images/users.png">
          </p-header>

          <div>
            View, add, edit and delete users.
          </div>

        </p-card>
      </a>
    </div>

    <div class="col-md-4">

      <a routerLink="/manage/orders" routerLinkActive="active" appVisibleFor="admin">
        <p-card title="Manage Orders" subtitle="" [style]="{width: '360px', height: '360px'}" styleClass="ui-card-shadow">

          <p-header>
            <img src="Card" src="assets/images/orders.png" style="max-height: 250px;">
          </p-header>

          <div>
            Information about orders.
          </div>

        </p-card>
      </a>

    </div>

  </div>
</div>