<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{appName}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Left side -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" appVisibleFor="client" routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Products</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" appVisibleFor="keeper" routerLink="/keeper/orders" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Work</a>
      </li>

      <li class="nav-item" appVisibleFor="admin">
        <div class="dropdown">
          <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Manage
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" routerLink="/manage/products" routerLinkActive="active">Products</a>
            <a class="dropdown-item" routerLink="/manage/users" routerLinkActive="active">Users</a>
          </div>
        </div>
      </li>

    </ul>
  </div>

  <!-- Right side -->
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>

      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
      </li>

      <li class="nav-item right" *ngIf="isLoggedIn" appVisibleFor="client" style="margin-right: .5em;">
        <span class="fa-stack fa-lg cart-link">
          <a routerLink="/order/details" routerLinkActive="active">
            <i class="fa fa-shopping-cart"></i>
            <strong class="fa-stack-1x cart-text" *ngIf="cartItemsCount > 0">{{cartItemsCount}}</strong>
          </a>
        </span>
      </li>

      <li class="nav-item right" *ngIf="isLoggedIn">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{username}} ({{role}})
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="nav-link" routerLink="/order/list" routerLinkActive="active" appVisibleFor="client">My Orders</a>
            <a class="nav-link" routerLink="/" routerLinkActive="active" (click)="logout()">Logout</a>
          </div>
        </div>
      </li>

    </ul>
  </div>
</nav>

<div class="container">
  <p-messages [(value)]="msgs"></p-messages>
  <router-outlet></router-outlet>
</div>