<h2>
  {{title}}
</h2>

<br/>

<p-table [(value)]="rows" [resizableColumns]="true" [autoLayout]="true">
  <ng-template pTemplate="header">
    <tr>
      <th pResizableColumn>Order Details</th>
      <th pResizableColumn>Product</th>
      <th pResizableColumn>Category</th>
      <th pResizableColumn>Quantity</th>
      <th pResizableColumn>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
    <tr>
      <td *ngIf="rowGroupMetadata[rowData.order.id].index === rowIndex" [attr.rowspan]="rowGroupMetadata[rowData.order.id].size"
        class="ui-resizable-column">
        <span> {{rowData.order.number}} </span>
        <br/>
        <span> {{rowData.clientFullName}} </span>
        <br/>
        <span>{{rowData.order.client.telephoneNumber}}</span>
        <br/>
        <span>{{rowData.order.client.address}}</span>
      </td>
      <td class="ui-resizable-column">{{rowData.product.name}}</td>
      <td class="ui-resizable-column">{{rowData.product.category}}</td>
      <td class="ui-resizable-column">{{rowData.quantity}}</td>
      <td class="ui-resizable-column">ACTIONS</td>
    </tr>
  </ng-template>
</p-table>