<h2>{{title}}</h2>
<h3>
  <i>Please enter username and password</i>
</h3>

<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">

  <fieldset>
    <div class="form-group">
      <label class="center-block">Username:
        <input class="form-control is-invalid" type="text" [ngClass]="{
          'is-valid': username.valid && (username.dirty || username.touched),
          'is-invalid': username.invalid && (username.dirty || username.touched)
        }" formControlName="username">
        <div class="invalid-feedback">
          <p>Username is required</p>
        </div>
      </label>
    </div>

    <div class="form-group has-danger">
      <label class="center-block">Password:
        <input class="form-control is-invalid" type="password" [ngClass]="{
          'is-valid': password.valid && (password.dirty || password.touched),
          'is-invalid': password.invalid && (password.dirty || password.touched)
        }" formControlName="password">
        <div class="invalid-feedback">
          <p>Password is required</p>
        </div>
      </label>
    </div>

  </fieldset>

  <button pButton type="submit" label="Login"></button>
  <button pButton type="button" label="Cancel" class="ui-button-secondary" routerLink="/" routerLinkActive="active"></button>
</form>