<p>
  order-details works!
</p>

<div class="container">
  <div class="row products-row" *ngFor="let item of cart.items">
    <div class="col-12">
      <p-card class="wide-card" styleClass="ui-card-shadow">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <img class="small-image" src="Card" src="assets/images/products.jpg">
            </div>
            <div class="col-3">
              <span>{{item.product.name}}</span>
            </div>
            <div class="col-3">
              <div class="ui-inputgroup">
                <button pButton type="button" icon="fa fa-minus" class="ui-button-danger"></button>
                <input type="number" pInputNumber value="{{item.quantity}}">
                <button pButton type="button" icon="fa fa-plus" class="ui-button-success"></button>
              </div>
            </div>
            <div class="col-2">
              <span class="price">{{item.product.price}}</span>
            </div>
            <div class="col-2">
              <span class="add-to-cart">
                <p-button label="Click" icon="fa fa-cart-plus" iconPos="right" label="Add" (click)="addToCart(product.id)">
                </p-button>
              </span>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <diV>
    <span>Total: {{cart.getTotal()}}</span>
  </diV>
</div>