.wide-card {
    width: '250px';
    height: '300px';
}

.products-row {
    margin-bottom: 20px;
}

.price {
    font-size: 1.3em;
    font-weight: bold;
    color: red;
}

.add-to-cart{
    padding-top: 5px;
}