<h2>
  {{title}}
</h2>

<br/>

<p-fieldset legend="Search">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <input type="text" pInputText placeholder="Name" [(ngModel)]="name">
      </div>
      <div class="col-md-3">
        <input type="text" pInputText placeholder="Category" [(ngModel)]="category">
      </div>
      <div class="col-md-4">
        <h6>Price:
          <strong>{{priceRange[0] + ' - ' + priceRange[1]}}</strong> RON</h6>
        <div>
          <p-slider [(ngModel)]="priceRange" [style]="{'width':'14em'}" [range]="true" min="1" max="999999"></p-slider>
        </div>
      </div>
      <div class="col-md-2">
        <p-button label="Search" (onClick)="search()"></p-button>
      </div>
    </div>
  </div>
</p-fieldset>

<br/>

<div class="container">
  <div *ngFor="let group of productGroups" class="row products-row">
    <div *ngFor="let product of group" class="col-3">
      <p-card title="{{product.name}}" subtitle="{{product.category}}" class="wide-card" styleClass="ui-card-shadow">

        <p-header>
          <img src="Card" src="assets/images/products.jpg">
        </p-header>

        <div>
          <div>
            <span class="price">
              {{product.price}} RON
            </span>

            <span class="float-right add-to-cart">
              <p-button label="Click" icon="fa fa-cart-plus" iconPos="right" label="Add" (click)="addToCart(product)">
              </p-button>
            </span>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>