<h2>
  {{title}}
</h2>

<br/>

<div class="container">
  <div class="row">
    <div class="col-3">
      <p-card title="Manage Products" subtitle="" class="wide-card" styleClass="ui-card-shadow">

        <p-header>
          <img src="Card" src="assets/images/products.jpg">
        </p-header>

        <div>
          View, add, edit and delete products.
        </div>

      </p-card>
    </div>
    
    <div class="col-3">
      <p-card title="Manage Products" subtitle="" class="wide-card" styleClass="ui-card-shadow">

        <p-header>
          <img src="Card" src="assets/images/products.jpg">
        </p-header>

        <div>
          View, add, edit and delete products.
        </div>

      </p-card>
    </div>

    <div class="col-3">
      <p-card title="Manage Products" subtitle="" class="wide-card" styleClass="ui-card-shadow">

        <p-header>
          <img src="Card" src="assets/images/products.jpg">
        </p-header>

        <div>
          View, add, edit and delete products.
        </div>

      </p-card>
    </div>
    
    <div class="col-3">
      <p-card title="Manage Products" subtitle="" class="wide-card" styleClass="ui-card-shadow">

        <p-header>
          <img src="Card" src="assets/images/products.jpg">
        </p-header>

        <div>
          View, add, edit and delete products.
        </div>

      </p-card>
    </div>
    
  </div>


  <div class="row" style="padding-top: 10px;">
    
    <div class="col-3">
      <p-card title="Manage Products" subtitle="" class="wide-card" styleClass="ui-card-shadow">

        <p-header>
          <img src="Card" src="assets/images/products.jpg">
        </p-header>

        <div>
          View, add, edit and delete products.
        </div>

      </p-card>
    </div>

    <div class="col-3">
      <p-card title="Manage Products" subtitle="" class="wide-card" styleClass="ui-card-shadow">

        <p-header>
          <img src="Card" src="assets/images/products.jpg">
        </p-header>

        <div>
          View, add, edit and delete products.
        </div>

      </p-card>
    </div>
    
    <div class="col-3">
      <p-card title="Manage Products" subtitle="" class="wide-card" styleClass="ui-card-shadow">

        <p-header>
          <img src="Card" src="assets/images/products.jpg">
        </p-header>

        <div>
          View, add, edit and delete products.
        </div>

      </p-card>
    </div>
    
    <div class="col-3">
      <p-card title="Manage Products" subtitle="" class="wide-card" styleClass="ui-card-shadow">

        <p-header>
          <img src="Card" src="assets/images/products.jpg">
        </p-header>

        <div>
          View, add, edit and delete products.
        </div>

      </p-card>
    </div>
  </div>
</div>